.header {
    grid-area: h;
    background-color: rgb(180, 180, 180);
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.3);
    padding: 5px;
    border-radius: 3px;

}
  
.header img {
    width: 100px;
}

.loginBlock {
    color: white;
    font-weight: 500;
    font-size: 2rem;
    /* float: right; */
}

.logo {
    height: 50px;
}

.logoText {
    color: white;
    font-weight: 500;
    font-size: 2rem;
    
}