.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog a {
    color: white;
    text-decoration: none;
}

.dialogList .active {
    color: gold;
}

.dialogList {
    padding: 10px;
}

.messages .message {
    
}

.messages {
    padding: 10px;
}